<!DOCTYPE html>
<html lang="en">
  <head>
    <title>TinyApp</title>
  </head>
  <body>
  <p> URL Shortener </p>
  <% if(user){ %>
    <b>Email: <%= user %> </b>
    <form action="/logout" method="POST" >
      <button type"button">LOGOUT</button>
    </form>
    <% } else { %>
      <form action="/login" method="POST" >
        <button type="text" ><a href="http://localhost:8080/register">Register</a> </button>
        <button type="text" ><a href="http://localhost:8080/login">Login</a> </button>
      </form>
    <% } %>
  </body>
</html>